
.center {
    display: flex;
    justify-content: center;
}
.submenu {
    background: white;
    border-right: 1px solid rgba(200, 201, 200, 0.5);
    box-shadow: -5px 0px 5px rgba(200, 201, 200, 0.5);
}
.main {
    max-width: 790px;
    background: white;
    box-shadow: 5px 5px 5px rgba(200, 201, 200, 0.5);
}
.submenu__block {
    padding: 10px;
    width: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submenu__block p,
.submenu__block h3 {
    padding: 10px;
    font-family: Roboto;
    font-weight: 400;
}
.submenu__block p {
    color: #99a1b3;
    font-size: 14px;
}
.main__arcticle {
    display: flex;
    align-items: center;
}
.article {
    margin-top: 30px;
    color: black;
}
.new-yourk {
    border-bottom: 2px dotted black;
    margin-top: 30px;
}
.style-class {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.main__arcticle h1:nth-child(1) {
    margin: 30px 30px 0 30px;
}

.main__search {
    background: #f2f4f8;
    margin: 30px 0 0 0;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}
.main__input {
    width: 290px;
    height: 40px;
    border: 1px solid var(--text);
    border-radius: 5px;
    padding: 0 0 0 10px;
    margin-left: 30px;
    outline: none;
}
.main__options {
    display: flex;
}
.main__options p,
.fa-sliders-h {
    padding: 0 50px 0 50px;
}
.fa-plus {
    display: none;
    color: var(--text);
    margin-right: 10px;
}
/* ads */
.main__ads {
    margin: 30px 0 0 30px;
}
.first__ads {
    display: flex;
    width: 100%;
}
.ads {
    display: flex;
    flex-direction: column;
    color: var(--text);
    padding-left: 15px;
}
.ads__first {
    display: flex;
    justify-content: space-between;
}
.first__block {
    display: flex;
}
.first__block p:nth-child(1) {
   padding-right: 20px;
}
.level {
    background: #f2f4f8;
    padding: 0;
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.title {
    padding-top: 5px;
    color: rgb(99, 99, 187);
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
}
.title__text {
    padding: 3px 15px 0 0;
}
.fa-clock {
    padding: 0 50px 0 30px;
}
.second__block {
    font-size: 12px;
}
.ads__tag {
    display: flex;
}
.ads__tag i,
.ads__tag p {
    padding: 15px 2px 30px 2px;
    font-size: 13px;
}
/* buttons */
.main__buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.button {
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button:nth-child(1) {
    margin-right: 15px;
}
.fa-chevron-left,
.fa-chevron-right {
    font-size: 10px;
}
.fa-chevron-left {
    margin-right: 10px;
}
.fa-chevron-right {
    margin-left: 10px;
}